@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.annotation-tile {
  background-color: #f5f5f5; /* Light grey background */
  border: 1px solid #ddd; /* Light border */
  padding: 10px; /* Padding inside the tile */
  margin-bottom: 10px; /* Space between tiles */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.annotation-tile.selected {
  background-color: #e0e0e0; /* Slightly darker background when selected */
}
